@model KalkamanovaFinal.Models.TradeResult

<h2>Latest Trade</h2>

<p>Date: @Model.Date</p>
<p>Amount: @Model.Amount</p>

@Html.ActionLink("Back to Home", "Index", "Home", null, new { @class = "btn btn-primary" })